body {
margin: 0;
font-family: sans-serif;

}
div {background-color: #0E8388;
padding: 20px;
text-align: center;}

h1 {margin-top: 0;}

.chemist_img {position: absolute;
height: 200px;
top: 10px;
right: 10px;

bottom: 10px;
}

table {
border: 2px solid black;}
tr, td, th {border: 2px solid black;
color: black;}

.my_table {background-color: #CBE4DE;}

.top-container-text {color: white;
font-family: verdana, sans-serif;
}

.medicine {position: absolute;
height: 100px;
width: 100px;
left: 10px;
top: 20px;
}

.drug_testing_title {font-family: serif;
text-align: center;
color: white;}

.test-info {
font-family: Ariel ,sans-serif;
text-align: center;
color: white;}

.test-body {background-color: #2E4F4F;}



.drug-test-icon {position: absolute;
width: 88px;
right: 10px;}



.link {text-align: left;
font-size: 120%;}
